sandbox.api.jamal.com {
	tls internal
	reverse_proxy http://127.0.0.1:5111
}

sandbox.mvc.jamal.com {
	tls internal
	reverse_proxy http://127.0.0.1:5112
}

sandbox.spa.jamal.com {
	tls internal
	reverse_proxy http://127.0.0.1:5113
}
